<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

 <div class="container">

    <h1>Expense Tracker</h1>
    <p class="subtitle">
    Track every expense, one step at a time
    </p>

    <div class="month">

        <button>&lt;</button>

        <h2>January</h2>

        <button>&gt;</button>

    </div>


    <button class="add-btn" onclick="openForm()">
    + Add New Expense
    </button>


    <section class="card">

        <h3>Expense History</h3>

<table>

    <tr>

        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Action</th>

    </tr>

    {% for expense in expenses %}

    <tr>

        <td>{{ expense.name }}</td>

        <td>{{ expense.category if expense.category else "Unknown" }}</td>

        <td>${{ expense.amount }}</td>

        <td>{{ expense.date }}</td>

        <td>✏️ 🗑️</td>

    </tr>

    {% endfor %}

</table>

<h4>Total : ${{ total }}</h4>

</section>


    <div class="bottom">

        <section class="card">

            <h3>Categories</h3>

            <ul class="category-list">

                <li>🍔 Food</li>

                <li>📚 Education</li>

                <li>🚕 Transport</li>

                <li>🎮 Entertainment</li>

                <li>🛒 Shopping</li>

                <li>💳 Bills</li>

                <li>🩺 Healthcare</li>

                <li>🏠 Housing</li>

                <li>📦 Other</li>

            </ul>

        </section>


        <section class="card">

            <h3>Budget Overview</h3>

            <div class="circle">

                76%

            </div>

            <p>Budget : $100</p>

            <p>Remaining : $24</p>

        </section>

    </div>

</div>

<div id="expense-form" class="modal">

    <div class="modal-content">

        <h2>Add Expense</h2>

        <input type="text" placeholder="Expense name">

        <input type="text" placeholder="Category">

        <input type="number" placeholder="Amount">

        <input type="date">

        <button>
            Save
        </button>

        <button onclick="closeForm()">
            Cancel
        </button>

    </div>

</div>


<script>

function openForm(){
    document.getElementById("expense-form").style.display = "block";
}


function closeForm(){
    document.getElementById("expense-form").style.display = "none";
}

</script>
</body>
</html>